= form_for @random_access_memory do |f|
  - if @random_access_memory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@random_access_memory.errors.count, "error")} prohibited this random_access_memory from being saved:"
      %ul
        - @random_access_memory.errors.full_messages.each do |message|
          %li= message


  .field
    = f.label :rammake
    = f.text_area :rammake
  .field
    = f.label :ddr
    = f.select :ddr, RandomAccessMemory.ddr_types.values.to_a

  .field
    = f.label :mhz
    = f.select :mhz, RandomAccessMemory.mhz_types.values.to_a

  .field
    = f.label :size
    = f.select :size, RandomAccessMemory.size_types.values.to_a

  .actions
    = f.submit 'Save'
