%h1 Listing cpus

%table
  %thead
    %tr
      %th Chipmake
      %th Chipmodel
      %th
      %th
      %th

  %tbody
    - @cpus.each do |cpu|
      %tr
        %td= cpu.ChipMake
        %td= cpu.ChipModel
        %td= link_to 'Show', cpu
        %td= link_to 'Edit', edit_cpu_path(cpu)
        %td= link_to 'Destroy', cpu, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cpu', new_cpu_path
