%p#notice= notice

%p
  %b Pc:
  = @cpu.Pc
%p
  %b Chipmake:
  = @cpu.ChipMake
%p
  %b Chipmodel:
  = @cpu.ChipModel
%p
  %b Aftermarketmake:
  = @cpu.AfterMarketMake

= link_to 'Edit', edit_cpu_path(@cpu)
\|
= link_to 'Back', cpus_path
