= form_for @build do |f|
  - if @build.errors.any?
    #error_explanation
      %h2= "#{pluralize(@build.errors.count, "error")} prohibited this build from being saved:"
      %ul
        - @build.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title

  .field
    = "upload a pic"
    = f.file_field :picture

  .field
    -# - type = :ChipModel+:ChipMake  :formatted_select_text
    -# =f.select :cpu_id, @cpus.collect{|d| [d.ChipMake, d.id]}
    -# displays a dropdown menu to select a cpu storing its id
    = collection_select( :build, :cpu_id, CentralProcessingUnit.all, :id, :formatted_select_text_cpu)

  .field
    -# - type = :ChipModel+:ChipMake  :formatted_select_text
    -# =f.select :cpu_id, @cpus.collect{|d| [d.ChipMake, d.id]}
    -# displays a dropdown menu to select a cpu storing its id
    = collection_select( :build, :gpu_id, GraphicsProcessingUnit.all, :id, :formatted_select_text_gpu)

  .field
    -# - type = :ChipModel+:ChipMake  :formatted_select_text
    -# =f.select :cpu_id, @cpus.collect{|d| [d.ChipMake, d.id]}
    -# displays a dropdown menu to select a cpu storing its id
    = collection_select( :build, :ram_id, RandomAccessMemory.all, :id, :formatted_select_text_ram)
  .field
    = f.label :description
    = f.text_field :description

  .actions
    = f.submit 'Save'
