%h1 #{t('builds.builds._form.index')}
.build-image-show
  .row
    - @builds.each do |build|
      .col-md-3
        .image-frame
          %a{href: "/builds/#{build.id}"}
            = image_tag(build.picture, size: "400x250", class: "build-show") if build.picture.attached?
            .image-caption
              %h2 #{build.title}
              #{CentralProcessingUnit.where(id: build.cpu_id).pluck(:chipmake, :chipmodel)[0]}
              #{GraphicsProcessingUnit.where(id: build.gpu_id).pluck(:aftermarketmake ,:chipmake, :chipmodel)[0]}
              #{RandomAccessMemory.where(id: build.ram_id).pluck(:rammake ,:ddr, :mhz, :size)[0]}

              -#used to display the info of the build for each picture frame, this uses jquery. 
  %br
  %br
  %br
  = link_to 'New Build', new_build_path, :class => 'btn-custom2'
