%h1 Listing builds

%table
  %thead
    %tr
      %th Title
      %th Cpu
      %th Gpu
      %th Ram
      %th description
      %th

  %tbody
    - @builds.each do |build|
      %tr
        %td= build.title
        %td= CentralProcessingUnit.where(id: build.cpu_id).pluck(:chipmake, :chipmodel)[0]
        %td= GraphicsProcessingUnit.where(id: build.gpu_id).pluck(:aftermarketmake ,:chipmake, :chipmodel)[0]
        %td= RandomAccessMemory.where(id: build.ram_id).pluck(:rammake ,:ddr, :mhz, :size)[0]
        %td=build.description
        %td= link_to 'Show', build
        %td= link_to 'Edit', edit_build_path(build)
        %td= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' }

%br



-# %h1.current-category= params[:category]
-# - if @books.count == 0
-#   %h1 There are no books currently in this category
-# - else
.row
  - @builds.each do |build|
    .col-md-3
      %a{href: "/builds/#{build.id}"}
        = image_tag(build.picture, size: "400x250")

= link_to 'New Build', new_build_path
-#
-# -show_cpu_info(){
-#   - (0..2).each do |i|
-#     =CentralProcessingUnit.where(id: @build.cpu_id).pluck(:chipmake, :chipmodel)[0][i]
-# }
