%p#notice= notice

.row
  .col-md-4
    = image_tag(@build.picture, size: "400x250", class: "build-show") if @build.picture.attached?

  .col-md-8
    .build-info
      %h2.build-title=  @build.title
      %h2.build-author= "Made by user :#{User.where(id: @build.user_id).pluck(:email)[0]}"
      -# gets the user email for the current build and displays it
      %h2.build-text
        %span Cpu:
        -# if the cpuid or data is nil dont show the info
        -if !(@build.cpu_id.nil? || CentralProcessingUnit.where(id: @build.cpu_id).pluck(:chipmake, :chipmodel)[0].nil?)
          - (0..2).each do |i|
            -#plucks the info from the other table using the stored id
            =CentralProcessingUnit.where(id: @build.cpu_id).pluck(:chipmake, :chipmodel)[0][i]
      %h2.build-text
        %span Gpu:
        -if !(@build.gpu_id.nil? || GraphicsProcessingUnit.where(id: @build.gpu_id).pluck(:aftermarketmake, :chipmake, :chipmodel)[0].nil?)
          - (0..3).each do |i|
            =GraphicsProcessingUnit.where(id: @build.gpu_id).pluck(:aftermarketmake, :chipmake, :chipmodel)[0][i]
      %h2.build-text
        %span Ram:
        -if !(@build.ram_id.nil?||RandomAccessMemory.where(id: @build.ram_id).pluck(:rammake ,:ddr, :mhz, :size)[0].nil?)
          - (0..3).each do |i|
            =RandomAccessMemory.where(id: @build.ram_id).pluck(:rammake ,:ddr, :mhz, :size)[0][i]
      %h3.build-text
        %span motherboard:
        =@build.motherboard
      %h3.build-text
        %span cpu_cooler:
        =@build.cpu_cooler
      %h3.build-text
        %span case:
        =@build.case
      %h3.build-text
        %span power_supply:
        =@build.power_supply
      %h3.build-text
        %span storage:
        =@build.storage
      %h5.build-desc
        %span description:
        =@build.description

%br
%br
.links.btn-group
  = link_to "Back", builds_path, :class => 'btn-custom2'
  -# does a check for user signed in, only signed in users that made the build (or the admin account) can destroy or edit
- if user_signed_in?
  - if @build.user_id == current_user.id ||current_user.id == User.where(email: "admin@builds.com").pluck(:id)[0]
    = link_to "Edit", edit_build_path(@build), :class => 'btn-custom2'
    = link_to "Delete", build_path(@build), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn-custom2'
