%p#notice= notice

-# %p
-#   %b Title:
-#   = @build.title
-#
-#   %b Picture:
-#   = image_tag(@build.picture, size: "400x250")
-#
-#   %b Cpu:
-#   - (0..2).each do |i|
-#     =CentralProcessingUnit.where(id: @build.cpu_id).pluck(:chipmake, :chipmodel)[0][i]
-#
-#   -# = for(int i; i<=3 i++){
-#   -# CentralProcessingUnit.where(id: @build.cpu_id).pluck(:ChipMake, :ChipModel)[0][1]
-#   %b Gpu:
-#   - (0..3).each do |i|
-#     =GraphicsProcessingUnit.where(id: @build.gpu_id).pluck(:aftermarketmake, :chipmake, :chipmodel)[0][i]
-#
-#   %b Ram:
-#   - (0..3).each do |i|
-#     =RandomAccessMemory.where(id: @build.ram_id).pluck(:rammake ,:ddr, :mhz, :size)[0][i]
-#
-#   %b description:
-#   =@build.description
-#
-#   %b motherboard:
-#   =@build.motherboard
-#
-#   %b cpu_cooler:
-#   =@build.cpu_cooler
-#
-#   %b case:
-#   =@build.case
-#
-#   %b power_supply:
-#   =@build.power_supply
-#
-#   %b storage:
-#   =@build.storage
-#
-#
-# = link_to 'Edit', edit_build_path(@build)
-# \|
-# = link_to 'Back', builds_path



.row
  .col-md-4
    = image_tag(@build.picture, size: "400x250", class: "build-show")
  .col-md-8
    .build-info
      %h2.build-title=  @build.title
      %h2.build-author= "Made by user :#{User.where(id: @build.user_id).pluck(:email)[0]}"
      %h2.build-text
        %span Cpu:
        - (0..2).each do |i|
          =CentralProcessingUnit.where(id: @build.cpu_id).pluck(:chipmake, :chipmodel)[0][i]
      %h2.build-text
        %span Gpu:
        - (0..3).each do |i|
          =GraphicsProcessingUnit.where(id: @build.gpu_id).pluck(:aftermarketmake, :chipmake, :chipmodel)[0][i]
      %h2.build-text
        %span Ram:
        - (0..3).each do |i|
          =RandomAccessMemory.where(id: @build.ram_id).pluck(:rammake ,:ddr, :mhz, :size)[0][i]
      %h3.build-text
        %span motherboard:
        =@build.motherboard
      %h3.build-text
        %span cpu_cooler:
        =@build.cpu_cooler
      %h3.build-text
        %span case:
        =@build.case
      %h3.build-text
        %span power_supply:
        =@build.power_supply
      %h3.build-text
        %span storage:
        =@build.storage
      %h5.build-desc
        %span description:
        =@build.description

-#
-#       %h2.avg-rating Average Rating
-#       .average-review-rating{"data-score" => "<haml_loud"} @average_review &gt;
-#       %span.number-of-reviews
-#         -# Based on #{@build.reviews.count} reviews
-#       %p.build-desc= @build.description
-# .row
-#   .col-md-4
-#     .reviews
-#       / Where the reviews/ratings will go
-#       %h1 Reviews
-#       -# = render @build.reviews
-#       %div
-#         -# = link_to "Add Review", new_build_review_path(@build), class: "btn-custom"
%br
%br
.links.btn-group
  = link_to "Back", builds_path, :class => 'btn-custom2'
- if user_signed_in?
  - if @build.user_id == current_user.id
    = link_to "Edit", edit_build_path(@build), :class => 'btn-custom2'
    = link_to "Delete", build_path(@build), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn-custom2'
