= form_for @graphics_processing_unit do |f|
  - if @graphics_processing_unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@graphics_processing_unit.errors.count, "error")} #{t('gpus.saveprohib')}"
      %ul
        - @graphics_processing_unit.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :aftermarketmake
    = f.text_area :aftermarketmake
  .field
    = f.label :chipmake
    = f.text_area :chipmake
  .field
    = f.label :chipmodel
    = f.text_area :chipmodel
  .actions
    = f.submit 'Save'
