%p#notice= notice

%p
  %b #{t('gpus.amm')}
  = @graphics_processing_unit.aftermarketmake
%p
  %b #{t('gpus.cm')}
  = @graphics_processing_unit.chipmake
%p
  %b #{t('gpus.cmm')}
  = @graphics_processing_unit.chipmodel

= link_to 'Edit', edit_graphics_processing_unit_path(@graphics_processing_unit)
\|
= link_to 'Back', graphics_processing_units_path
