%p#notice= notice

%p
  %b Aftermarketmake:
  = @graphics_processing_unit.aftermarketmake
%p
  %b Chipmake:
  = @graphics_processing_unit.chipmake
%p
  %b Chipmodel:
  = @graphics_processing_unit.chipmodel

= link_to 'Edit', edit_graphics_processing_unit_path(@graphics_processing_unit)
\|
= link_to 'Back', graphics_processing_units_path
