= form_for @pc do |f|
  - if @pc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pc.errors.count, "error")} prohibited this pc from being saved:"
      %ul
        - @pc.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Motherboard
    = f.text_area :Motherboard
  .field
    = f.label :CpuCooler
    = f.text_area :CpuCooler
  .field
    = f.label :Case
    = f.text_area :Case
  .field
    = f.label :PowerSupply
    = f.text_area :PowerSupply
  .field
    = f.label :Storage
    = f.text_area :Storage
  .field
    = f.label :Price
    = f.text_field :Price
  .field
    = f.label :Description
    = f.text_area :Description
  .field
    = f.label :Date
    = f.datetime_select :Date
  .actions
    = f.submit 'Save'
