%p="#{t('contact_mailer.dear')} #{t('app_title')},"
%p= t('contact_mailer.touch')

%dl
  %dt #{t('contact_mailer.name')}
  %dd= @name
  %dt #{t('contact_mailer.email')}
  %dd= @email
  %dt #{t('contact_mailer.phone')}
  %dd= @telephone

%p= @message

%p #{t('contact_mailer.ty')}
%p= @name
